<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="homepage">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="main-section"></div>
          <div class="rectangle"></div>
          <div class="div"></div>
          <p class="crafted-with-passion">
            <span class="text-wrapper">Crafted with </span>
            <span class="span">Passion<br /></span>
            <span class="text-wrapper">Baked with </span>
            <span class="span">Love</span>
          </p>
          <img class="element-education-shapes" src="/image/3D Education Shapes School Enrolment Poster (2) 1.png" />
          <img class="element-d-education-shapes" src="/image/3D Education Shapes School Enrolment Poster 1.png" />
          <img class="img" src="/image/3D Education Shapes School Enrolment Poster (1) 1.png" />

          <div class="container">
            <img class="line" src="/image/Line 14.png"/>
            <img class="line2" src="/image/Line 14.png"/>
          </div>

          <div class="header-user">
            <div class="overlap-group">
              <div class="logo">Jeunesse.</div>
              <div class="spham">Sản phẩm</div>
              <div class="aboutus">Về Jeunesse</div>
              <div class="group"><div class="text-wrapper-5">Giỏ hàng</div></div>
              <div class="group-2"></div>
              <div class="div-wrapper"><div class="text-wrapper-6">0</div></div>
            </div>
          </div>
          <div class="footer-ngi-dng">
            <div class="text-wrapper-7">Jeunesse.</div>
            <div class="frame">
              <div class="flexcontainer">
                <p class="text-i">
                  <span class="text-wrapper-8">Hotline<br /></span>
                </p>
                <p class="text-i"><span class="text-wrapper-9">(+84) 824048293</span></p>
              </div>
              <div class="flexcontainer">
                <p class="text-i">
                  <span class="text-wrapper-8">Location<br /></span>
                </p>
                <p class="text-i"><span class="text-wrapper-9">166 Cầu Giấy, Hà Nội </span></p>
              </div>
            </div>
            <div class="frame-2">
              <div class="text-wrapper-10">Về Jeunesse</div>
              <div class="text-wrapper-11">Sản phẩm</div>
              <div class="text-wrapper-12">Giỏ hàng</div>
            </div>
            <p class="p">© 2024 Jeunesse All Rights Reserved.</p>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-2">
              <div class="group-3">
                <p class="jeunesse-ngh-thu-t-b">
                  Ở Jeunesse, nghệ thuật bánh Entremet tinh tế là sự kết hợp hoàn hảo giữa tay nghề bậc thầy và sáng tạo
                  không giới hạn. Mỗi chiếc bánh là một tác phẩm nghệ thuật, với nhiều lớp bánh mềm mịn, mousse ngọt
                  ngào và nhân phong phú.<br />Nguyên liệu thượng hạng và kỹ thuật chế biến đỉnh cao tạo nên hương vị
                  sang trọng. Khi thưởng thức, bạn sẽ cảm nhận sự hòa quyện tuyệt vời giữa vị ngọt, chua, béo và thơm,
                  tạo nên một trải nghiệm ẩm thực đẳng cấp và tinh tế.
                </p>
                <p class="ngh-thu-t-b-nh">Nghệ thuật bánh Entremet tinh tế, <br />hương vị thượng hạng</p>
                <div class="overlap-group-2">
                  <img class="image" src="/image/image 5.png" /> <img class="rectangle-2" src="/image/Rectangle 12.png" />
                </div>
                <img class="element-education-shapes-2" src="/image/3D Education Shapes School Enrolment Poster (2) 3.png" />
                <p class="text-wrapper-13">Mỗi miếng bánh, một tác phẩm nghệ thuật</p>
                <p class="text-wrapper-14">
                  Mỗi chiếc bánh không chỉ mang đến hương vị tuyệt vời mà còn là sự thể hiện của nghệ thuật trình bày
                  tinh tế. Được trang trí bằng hoa quả tươi ngon, chocolate thượng hạng và những chi tiết tinh xảo, mỗi
                  miếng bánh là một trải nghiệm thị giác và vị giác khó quên. Hãy để Jeunesse mang đến cho bạn sự tận
                  hưởng đẳng cấp trong từng miếng bánh, nơi nghệ thuật và hương vị giao thoa hoàn hảo.
                </p>
                <div class="input-field"><div class="text-wrapper-15">Sản phẩm</div></div>
              </div>
              <div class="input-field-2"><div class="text-wrapper-16">Về Jeunesse</div></div>
            </div>
          </div>

        <div class="container2">
          <img class="line3" src="/image/Line 14.png"/>
          <img class="line4" src="/image/Line 14.png"/>
        </div>

          <div class="banner-homepage">
            <img class="banner1" src="/image/Group 26.png"/>
          </div>
          <img class="group-6" src="/" />
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
