@font-face {
    font-family: 'NEWSREADERTEXT-REGULAR';
    src: url('/fonts/NEWSREADERTEXT-REGULAR.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'NEWSREADERTEXT-MEDIUM';
    src: url('/fonts/NEWSREADERTEXT-MEDIUM.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'NEWSREADERTEXT-ITALIC';
    src: url('/fonts/NEWSREADERTEXT-ITALIC.TTF') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'NEWSREADERTEXT-LIGHTITALIC';
    src: url('/fonts/NEWSREADERTEXT-LIGHTITALIC.TTF') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
@font-face {
    font-family: "DFVN TAN - WALTZING MATHILDE-Regular";
    src: url("/fonts/DFVN-TANWALTZINGMATHILDE-DISPLAY.woff2") format("woff2"), url("/fonts/DFVN-TANWALTZINGMATHILDE-DISPLAY.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.homepage {
    background-color: #fffdf8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  /*.homepage .overlap-wrapper {
    background-color: #ffebeb;
    overflow-x: hidden;
    width: 100%;
    height: 1024px;
  } */
  
  /*.homepage .overlap {
    position: relative;
    width: 100%;
    height: 2732px;
    left: -3px;
  } */
  
  .homepage .main-section {
    position: absolute;
    width: 100%;
    height: 2610px;
    top: 0;
    left: 0px;
    background-color: #fffdf8;
  } 
  
  /*.homepage .rectangle {
    position: absolute;
    width: 100%;
    height: 580px;
    top: 336px;
    left: 96px;
    background-color: #fffdf8;
  } */
  
  .homepage .div {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 95px;
    left: 0px;
    background-color: #ffebeb;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .homepage .crafted-with-passion {
    position: absolute;
    width: 90%;
    top: 62px;
    left: 5%;
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-weight: 400;
    color: #374375;
    font-size: 3vw;
    text-align: center;
    letter-spacing: -1.90px;
    line-height: 60px;
  }
  
  .homepage .text-wrapper {
    letter-spacing: 0px;
  }
  
  .homepage .span {
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-style: italic;
    letter-spacing: -0.72px;
  }
  
  .homepage .element-education-shapes {
    position: absolute;
    width: 270px;
    height: 242.25px;
    top: 200px;
    left: 225px;
  }
  
  .homepage .element-d-education-shapes {
    position: absolute;
    width: 619.5px;
    height: 624.75px;
    top: 170px;
    left: 430px;
  }
  
  .homepage .img {
    position: absolute;
    width: 20%;
    height: auto;
    top: 250px;
    left: 65%;
  }

  .homepage .line {
    position: absolute;
    top: 740px;
    left: 96px;
  }

  .homepage .line2 {
    position: absolute;
    top: 740px;
    right: 96px;
    transform: scaleX(-1);
  }

  .homepage .line3 {
    position: absolute;
    top: 1700px;
    left: 96px;
  }

  .homepage .line4 {
    position: absolute;
    top: 1700px;
    right: 96px;
    transform: scaleX(-1);
  }
  
  .homepage .header-user {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0px;
    margin : 0px;
  }

  
  /*.homepage .overlap-group {
    position: relative;
    width: 100%;
    height: 118px;
    top: -1px;
    left: -1px;
    background-color: #fffdf8f8;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  } */
  
  @font-face {
    font-family: 'DFVN TAN - WALTZING MATHILDE';
    src: url('./fonts/DFVN-TAN-WALTZING-MATHILDE.otf') format('truetype');
  }

  .homepage .logo {
    top: 30px;
    font-size: 35px;
    letter-spacing: -0.35px;
    line-height: 35px;
    position: absolute;
    left: 96px;
    font-family: 'DFVN TAN - WALTZING MATHILDE', serif;
    font-weight: 400;
    color: #374375;
    white-space: nowrap;
    border: none;
    background: none;
  }
  
  .homepage .spham {
    position: absolute;
    height: 23px;
    top: 36px;
    right: 379px;
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23.4px;
    white-space: nowrap;
    border: none;
    background: none;
  }
  
  .homepage .aboutus {
    position: absolute;
    height: 23px;
    top: 36px;
    right: 511px;
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23.4px;
    white-space: nowrap;
    border: none;
    background: none;
  }

.homepage .login {
    position: absolute;
    height: 23px;
    top: 36px;
    right: 96px;
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23.4px;
    white-space: nowrap;
    border: none;
    background: none;
    display: none;
}

  .homepage .group {
    position: absolute;
    width: 69px;
    height: 23px;
    top: 36px;
    right: 250px;
    border: none;
    background: none;
  }
  
  .homepage .text-wrapper-5 {
    position: absolute;
    height: 23px;
    top: 0;
    left: 0;
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23.4px;
    white-space: nowrap;
    border: none;
    background: none;
  }

.homepage .group-2 {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 20px;
    right: 96px;
    background-color: #ffebeb;
    border-radius: 32px;
    background-image: url(/image/Mask\ group.png);
    background-size: 100% 100%;
    border: none;
    display: none;
}
  
  .homepage .div-wrapper {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 22px;
    right: 220px;
    background-color: #ffebeb;
    border-radius: 13px;
  }
  
  .homepage .text-wrapper-6 {
    position: absolute;
    height: 18px;
    top: 3px;
    left: 8px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18.2px;
    white-space: nowrap;
  }
  
  .homepage .footer-ngi-dng {
    position: absolute;
    width: 100%;
    height: 210px;
    top: 2400px;
    left: 0px;
    background-color: #ffebeb;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .homepage .text-wrapper-7 {
    top: 49px;
    font-size: 50px;
    letter-spacing: -0.55px;
    line-height: 55px;
    position: absolute;
    left: 96px;
    font-family: 'DFVN TAN - WALTZING MATHILDE', serif;
    font-weight: 400;
    color: #374375;
    white-space: nowrap;
    border: none;
    background: none;
  }
  
  .homepage .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    left: 700px;
    position: absolute;
    top: 20px;
    gap: 1px;
  }
  
  .homepage .flexcontainer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    position: relative;
  }
  
  .homepage .text-i {
    font-family: "NEWSREADERTEXT-MEDIUM", serif;
    color: #000000;
    font-size: 25px;
    letter-spacing: -0.25px;
    position: relative;
    align-self: stretch;
    font-weight: 500;
    line-height: 25px;
    margin: 8px;
  }
  
  .homepage .text-wrapper-8 {
    font-weight: 500;
    letter-spacing: -0.06px;
  }
  
  .homepage .text-wrapper-9 {
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-size: 20px;
    letter-spacing: -0.04px;
    top: 0px;
  }
  
  .homepage .frame-2 {
    width: 144px;
    height: 160px;
    left: 1200px;
    position: absolute;
    top: 20px;
    border: none;
  }
  
  .homepage .text-wrapper-10 {
    top: 9px;
    left: 25px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    font-family: "NEWSREADERTEXT-REGULAR", serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: none;
    background: none;
  }
  
  .homepage .text-wrapper-11 {
    top: 64px;
    left: 32px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: none;
    background: none;
  }
  
  .homepage .text-wrapper-12 {
    position: absolute;
    top: 119px;
    left: 35px;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.20px;
    line-height: 20px;
    text-decoration: underline;
    white-space: nowrap;
    border: none;
    background: none;
  }
  
  .homepage .p {
    position: absolute;
    top: 105px;
    left: 96px;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: -0.25px;
    line-height: 25px;
    white-space: nowrap;
  }
  
  .homepage .overlap-group-wrapper {
    position: absolute;
    width: 1213px;
    height: 849px;
    top: 720px;
    left: 96px;
  } 
  
  .homepage .overlap-2 {
    position: relative;
    width: 1221px;
    height: 849px;
  }
  
  .homepage .group-3 {
    position: absolute;
    width: 1221px;
    height: 849px;
    top: 0;
    left: 0;
  }
  
  .homepage .jeunesse-ngh-thu-t-b {
    position: absolute;
    width: 850px;
    top: 130px;
    left: 0px;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: justify;
    letter-spacing: -0.25px;
    line-height: 32.5px;
  }
  
  .homepage .ngh-thu-t-b-nh {
    position: absolute;
    width: 614px;
    top: 0;
    left: 80px;
    font-family: 'NEWSREADERTEXT-LIGHTITALIC', serif;
    font-weight: 300;
    font-style: italic;
    color: #374375;
    font-size: 45px;
    text-align: center;
    letter-spacing: -0.45px;
    line-height: 45px;
  }
  
  .homepage .overlap-group-2 {
    width: 388px;
    height: 458px;
    left: 819px;
    position: absolute;
    top: 0;
  }
  
  .homepage .image {
    position: absolute;
    width: 195px;
    height: 311px;
    top: 55px;
    left: 80px;
  }
  
  .homepage .rectangle-2 {
    position: absolute;
    width: 261px;
    height: 240px;
    top: 218px;
    left: 247px;
    object-fit: cover;
  }
  
  .homepage .element-education-shapes-2 {
    position: absolute;
    width: 428px;
    height: 417px;
    top: 500px;
    left: 0;
    object-fit: cover;
  }
  
  .homepage .text-wrapper-13 {
    position: absolute;
    height: 58px;
    top: 472px;
    left: 540px;
    font-family: 'NEWSREADERTEXT-LIGHTITALIC', serif;
    font-weight: 300;
    font-style: italic;
    color: #374375;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: 58.5px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-14 {
    position: absolute;
    width: 850px;
    height: 192px;
    top: 566px;
    left: 475px;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 32.5px;
  }
  
  .homepage .input-field {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 810px;
    left: 774px;
    background-color: #374375;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid;
    border-color: #0000000f;
  }
  
  .homepage .text-wrapper-15 {
    width: 141px;
    height: 29px;
    top: 0px;
    left: 31px;
    color: #fffdf8;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 39.0px;
    position: absolute;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
  
  .homepage .input-field-2 {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 380px;
    left: 331px;
    background-color: #374375;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid;
    border-color: #0000000f;
    
  }
  
  .homepage .text-wrapper-16 {
    width: 157px;
    height: 32px;
    top: 2px;
    left: 24px;
    color: #fffdf8;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 39.0px;
    position: absolute;
    font-family: 'NEWSREADERTEXT-REGULAR', serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
  
  /*.homepage .banner-homepage {
    position: absolute;
    width: 1325px;
    height: 660px;
    top: 1762px;
    left: 96px;
    overflow: hidden;
    text-align: center;
  } */

  .slider {
    position: relative;
    width: 100%;
    max-width: 1325px;
    height: 660px;
    margin: 50px auto;
    top : 1700px;
    overflow: hidden; /* Hide overflow */
    border-radius: 10px; /* Optional: Rounded corners */
  }
  
  /* Slides container */
  .slides {
    display: flex;
    width: 100%; /* Total width = number of slides * 100% */
    animation: slideAnimation 12s infinite; /* Automatic slide effect */
  }
  
  /* Individual slide */
  .slide {
    flex: 1 0 100%; /* Each slide takes up 100% of the container */
  }
  
  .slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Animation keyframes */
  @keyframes slideAnimation {
    0% {
      transform: translateX(0); /* Show first slide */
    }
    33.33% {
      transform: translateX(0); /* Hold first slide */
    }
    50% {
      transform: translateX(-100%); /* Show second slide */
    }
    83.33% {
      transform: translateX(-100%); /* Hold second slide */
    }
    100% {
      transform: translateX(-200%); /* Show third slide */
    }
  }
  
  .homepage .overlap-3 {
    position: relative;
    width: 1252px;
    height: 1690px;
  }
  
  .homepage .group-4 {
    position: absolute;
    width: 1252px;
    height: 1690px;
    top: 0;
    left: 0;
  }
  
  .homepage .overlap-group-3 {
    width: 1240px;
    height: 536px;
    left: 0;
    background-image: url(./img/coming-soon-1.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
  }
  
  .homepage .text-wrapper-17 {
    position: absolute;
    width: 538px;
    top: 22px;
    left: 0;
    font-family: "DFVN TAN - WALTZING MATHILDE-Regular", Helvetica;
    font-weight: 400;
    color: #374375;
    font-size: 45px;
    text-align: center;
    letter-spacing: -0.45px;
    line-height: 45px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-18 {
    position: absolute;
    width: 362px;
    top: 80px;
    left: 14px;
    font-family: "Newsreader-Regular", Helvetica;
    font-weight: 400;
    color: #374375;
    font-size: 35px;
    text-align: center;
    letter-spacing: -0.35px;
    line-height: 35px;
    white-space: nowrap;
  }
  
  .homepage .overlap-4 {
    position: absolute;
    width: 1240px;
    height: 536px;
    top: 577px;
    left: 2px;
    background-image: url(./img/coming-soon2-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .homepage .text-wrapper-19 {
    position: absolute;
    width: 256px;
    top: 389px;
    left: 37px;
    font-family: "Newsreader-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: -0.35px;
    line-height: 35px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-20 {
    position: absolute;
    width: 538px;
    top: 431px;
    left: 2px;
    font-family: "DFVN TAN - WALTZING MATHILDE-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    letter-spacing: -0.45px;
    line-height: 45px;
    white-space: nowrap;
  }
  
  .homepage .flexcontainer-wrapper {
    position: absolute;
    width: 1238px;
    height: 536px;
    top: 1154px;
    left: 4px;
    background-image: url(./img/cs3-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .homepage .flexcontainer-i {
    display: flex;
    gap: 3px;
    position: relative;
    width: 440px;
    height: 42px;
    top: 168px;
    left: 744px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .homepage .span-wrapper {
    margin-bottom: -38.00px;
    font-family: "DFVN TAN - WALTZING MATHILDE-Regular", Helvetica;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    letter-spacing: -0.80px;
    line-height: 80px;
    position: relative;
    align-self: stretch;
    font-weight: 400;
  }
  
  .homepage .text-wrapper-21 {
    letter-spacing: -0.64px;
  }
  
  .homepage .group-5 {
    position: absolute;
    width: 91px;
    height: 17px;
    top: 546px;
    left: 575px;
  }
  
  .homepage .ellipse {
    left: 0;
    background-color: #fdd9d9;
    border-radius: 8.5px;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
  }
  
  .homepage .ellipse-2 {
    left: 37px;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
  }
  
  .homepage .ellipse-3 {
    left: 74px;
    background-color: #ffe4e4;
    border-radius: 8.5px;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
  }
  
  .homepage .group-6 {
    position: absolute;
    width: 1248px;
    height: 1px;
    top: 916px;
    left: 99px;
  }
  